<!DOCTYPE html>
<html lang="en" ng-app="uc">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unit Converter</title>

        <!-- stylesheets -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="style.css">
            
        <!-- JavaScript libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        
        <!-- JavaScript project -->        
        <script type="text/javascript" src="app.js"></script>


  </head>
  <body class="container" ng-controller="PanelController as panel">

  
  <nav class="navbar navbar-default" role="navigation" >
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Convert:</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{active:panel.isSelected(0)}"><a href ng-click="panel.selectTab(0)">Length</a></li>
          <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Area</a></li>
          <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Volume</a></li>
          <li ng-class="{active:panel.isSelected(3)}"><a href ng-click="panel.selectTab(3)">Pressure</a></li>
          <li ng-class="{active:panel.isSelected(4)}"><a href ng-click="panel.selectTab(4)">Flow</a></li>
          <li ng-class="{active:panel.isSelected(5)}"><a href ng-click="panel.selectTab(5)">Temperature</a></li>
          <li ng-class="{active:panel.isSelected(6)}"><a href ng-click="panel.selectTab(6)">Currency</a></li>
        </ul>        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid" ng-show="panel.isSelected(0)">
    <div class="calc">
      <div class="row" ng-repeat="row in panel.getRows(panel.tab) track by $index">
        
        <div class="col-xs-3 col-sm-2 col-md-1">
          <button type="button"
                  class="btn btn-primary">
            <span class="glyphicon glyphicon-import"></span> Paste
          </button>
        </div>
        
        <div class="col-xs-3 col-sm-5 col-md-2">    
          <input type="text"
                 class="form-control"
                 ng-model="form_value"
                 placeholder="Enter value"
                 ng-change="panel.changeValue($index,form_value)"
                 ng-value="form_value=row.value">
        </div>
        
        <div class="col-xs-3 col-sm-3 col-md-2">
          <select class="form-control"
                  ng-model="form_from"
                  ng-options="le.name for le in panel.lengthelements"
                  ng-change="panel.changeFrom($index,form_from)"
                  ng-init="form_from=panel.lengthelements[row.from]">
          </select>
        </div>
        
        <div class="col-xs-3 col-sm-1 col-md-1"><center><h5>=</h5></center></div>
        
        <div class="col-xs-3 col-sm-2 col-md-1">
          <button type="button"
                  class="btn btn-primary">
            <span class="glyphicon glyphicon-export"></span> Copy
          </button>
        </div>
        
        <div class="col-xs-3 col-sm-5 col-md-2">
          <input type="text"
                 class="form-control"
                 value ="{{row.result}}"
                 placeholder="Result"
                 readonly
                 >
        </div>
        
        <div class="col-xs-3 col-sm-3 col-md-2">
          <select class="form-control"
                  ng-model="form_to"
                  ng-options="le.name for le in panel.lengthelements"
                  ng-change="panel.changeTo($index,form_to)"
                  ng-init="form_to=panel.lengthelements[row.to]">
          </select>
        </div>
        
          <div class="col-xs-3 col-sm-2 col-md-1">
            <button type="button"
                    class="btn btn-danger"
                    ng-click="panel.removeRow($index)">
              <span class="glyphicon glyphicon-trash"></span> Row
            </button>
          </div>
      </div>
     
    </div>
    
    <div class="row">
      
      <div class="col-xs-9 col-sm-10 col-md-11"></div>
      <div class="col-xs-3 col-sm-2 col-md-1">
        <button type="button"
                class="btn btn-success"
                ng-click="panel.addrow()">
          <span class="glyphicon glyphicon-plus-sign"></span> Row
        </button>
      </div>
      
    </div> 
  </div>
  {{panel.panelrows[0]}}

  


  


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>