.row {
    
    background: lightblue;
    
}

.col-xs-1 {
    
    background:  lightgreen;
    padding:  0px;
    margin: 2px;
}
.col-xs-2 {
    
    background:  lightred;
    padding:  0px;
        margin: 2px;
}
.col-xs-3 {
    
    background:  lightgrey;
    padding:  0px;
        margin: 2px;
}
.btn {
    width: 100%;
}
