
.col-xs-1 {
    
    padding:  0px;
    margin: 2px;
}
.col-xs-2 {
    
    padding:  0px;
        margin: 2px;
}
.col-xs-3 {
    
    padding:  0px;
    margin: 2px;
}
.btn {
    width: 100%;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
}
