
.col-xs-1 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-2 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-3 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-12 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-10 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-5 {
    
    padding:  2px;
    margin: 0px;
}
.col-xs-9 {
    
    padding:  2px;
    margin: 0px;
}
.btn {
    width: 100%;
}
.container-fluid {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


.calc .row:hover {
    border-color: #5bc0de;
    border-radius: 5px;
    border: solid 1px;
}